:root {
  --color-main-bg: #333;
  --font-family-main: "Ubuntu", sans-serif;
  --color-train-Brn: #62361b;
  --color-train-Red: #c60c30;
  --color-train-Blue: #00a1de;
  --color-train-G: #009b3a;
  --color-train-Org: #f9461c;
  --color-train-P: #522398;
  --color-train-Pink: #e27ea6;
  --color-train-Y: #f9e300;

  font-size: 62.5%;
}
:root body {
  margin: 0;
  font-size: 1.6rem;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  height: 100%;
}

body {
  color: white;
  font-family: var(--font-family-main);
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.6) 0,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../src/bg_sm.jpg) no-repeat center / cover;
  padding-top: 50px;
}

@media (min-width: 800px) {
  body {
    background: linear-gradient(
        to bottom,
        rgba(50, 50, 50, 0.6) 0,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url(../src/bg_lg.jpg) no-repeat center / cover;
  }
}

a {
  color: #eee;
}

a:focus {
  outline: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  border-bottom: 1px solid #111;
  width: 100%;
  padding: 0 10px;
  position: fixed;
  top: 0;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
}

nav a:hover {
  color: #111;
  background: #aaa;
}

.logo {
  background: url(../src/icon60x60.png) no-repeat 2px 0 / contain;
  width: 60px;
}

h3 {
  color: #aaa;
  font-weight: 300;
  margin-top: 10px;
}

#main ul {
  max-height: 80vh;
  overflow: auto;
  padding: 0;
}

#main li {
  list-style-type: none;
  border-bottom: 1px solid #111;
  clear: both;
}

#main a,
.predictions div {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 300;
  background: rgba(70, 70, 70, 0.8);
  margin: 2px 10px;
  border-radius: 10px;
}

#main a:hover {
  color: #111;
  text-decoration: none;
  background: #aaa;
}

.sm {
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  max-width: 80%;
}

footer p {
  color: #aaa;
  line-height: 1.2;
}

footer .back {
  margin-top: 25px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px;
}

.terms_link {
  padding: 5px 15px;
  font-size: 2rem;
  font-weight: 500;
  color: #aaa;
  background-color: #555;
  border-radius: 10px;
}

.predictions.trains li div {
  margin: 2px 10px;
  box-shadow: 0 1px 7px #222 inset;
  border-radius: 10px;
  padding: 7px 15px;
  text-shadow: 0 1px 4px #333;
}

.trains span.stpnm {
  max-width: 75%;
  display: inline-block;
}

.trains span.lg {
  font-weight: 600;
  font-size: 2.2rem;
}

.predictions .lg {
  font-weight: 600;
  text-shadow: 1px 1px 1px #111;
}

div.Brn {
  background-color: var(--color-train-Brn);
}
div.Red {
  background-color: var(--color-train-Red);
}
div.Blue {
  background-color: var(--color-train-Blue);
}
div.G {
  background-color: var(--color-train-G);
}
div.Org {
  background-color: var(--color-train-Org);
}
div.P {
  background-color: var(--color-train-P);
}
div.Pink {
  color: #111;
  background-color: var(--color-train-Pink);
}
div.Y {
  color: #111;
  background-color: var(--color-train-Y);
}

.predictions.trains li div.Pink,
.predictions.trains li div.Y {
  color: #111;
  text-shadow: none;
}

.spinner {
}
.spinner button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

svg#spinner .s {
  fill: #aaa;
  transition: fill 0.2s linear;
}
svg#spinner:hover .s {
  fill: #fff;
}

svg#spinner.animate {
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
