          <header>
            <h3>Lines</h3>
          </header>
          <ul>
          {{#each line}}
            <li><a href="#" class="line" data-line="{{line_id}}">{{line_name}} line</a></li>
          {{/each}}
          </ul>
