          {{#if eta}}
            <header>
              <h3>Trains</h3>
            </header>
            <ul class="predictions trains">
            {{#each eta}}
              <li><div class="{{rt}}"><span class="stpnm">{{stpDe}}</span><span class="pull-right lg">{{arrD}} min</span></div></li>
            {{/each}}
            </ul>
          {{/if}}
